<div>
  <%= simple_form_for(@team, :html => {:class => 'form-vertical' }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class="text-center">
        <%= f.input :name,
              placeholder: "Select the name of the team",
              label: false
        %>
      </div>

      <div>
        <div >
          <%= f.input :players,
                label: "Select first player.",
                collection: @players,
                input_html: { multiple: true },
                include_blank: false
          %>
        </div>

      </div>

      <br/>

    </div>

    <div class="form-actions text-center">
      <%= f.button :submit, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
