<tr>
  <td>
    <%= link_to team.name, "#" %>
  </td>

  <td>
    <%= time_ago_in_words(team.created_at) %>
  </td>

  <td>
    <%= time_ago_in_words(team.updated_at) %>
  </td>

  <td class="actions-cell">
    <%= link_to "X",
          team_path(team),
          method: :delete,
          data: {
            confirm: "Are you sure you want to permanently delete this team?"
          },
          class: "btn btn-sm btn-danger" %>
  </td>

</tr>

<tr>
  <% team.players.each do |player| %>
    <td class="text-center">
      <%= link_to player.full_name, players_path %>
    </td>
  <% end %>
</tr>
