
<div class="text-center">
  <%= paginate @teams %>
</div>

<div class="well row">
  <div id="entry-form">
    <div id="insert-form">
      <%= render 'form' %>
    </div>
  </div>
</div>

<hr>

<table class="table table-striped">

    <tr>
      <th>Name</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th></th>
    </tr>

    <%= render @teams %>

</table>

<br>

<div class="text-center">
  <%= paginate @teams %>
</div>