<div>
  <%= simple_form_for(@game, :html => {:class => 'form-vertical' }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class="col-md-6">
        <%= f.input :home_team_id,
              collection: @teams,
              prompt: "Select first team.",
              label: false
        %>
      </div>

      <div class="col-md-6">
        <%= f.input :away_team_id,
              collection: @teams,
              prompt: "Select second team.",
              label: false
        %>
      </div>

      <br/>

    </div>

    <div class="form-actions text-center">
      <%= f.button :submit, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>






