<tr>
  <td>
    <%= link_to game.home_team.name, "#" %>
  </td>

  <td>
    <%= link_to game.away_team.name, "#" %>
  </td>

  <td>
    <%= link_to game.winner_team.name, "#" if game.winner_team.present? %>
  </td>

  <td>
    <%= time_ago_in_words(game.created_at) %>
  </td>

  <td>
    <%= time_ago_in_words(game.updated_at) %>
  </td>

  <td class="actions-cell">
    <%= link_to 'Show', game,  :class => "btn btn-sm btn-info static-popup-link" %>
    <%= link_to "X",
          game_path(game),
          method: :delete,
          data: {
            confirm: "Are you sure you want to permanently delete this game?"
          },
          class: "btn btn-sm btn-danger" %>
  </td>
</tr>
