
<div class="text-center">
  <%= paginate @games %>
</div>

<div class="well row">
  <div id="entry-form">
    <div id="insert-form">
      <%= render 'form' %>
    </div>
  </div>
</div>

<hr>

<table class="table table-striped">

    <tr>
      <th>Home Team</th>
      <th>Away Team</th>
      <th>Winner Team</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th></th>
    </tr>

    <%= render @games %>

</table>

<br>

<div class="text-center">
  <%= paginate @games %>
</div>