<table class="table table-striped">
  <tr>
    <th>Home Team</th>
    <th>Away Team</th>
    <th>Winner Team</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th></th>
  </tr>

  <%= render [@game] %>
</table>

<hr/>

<div class="well row">
  <div id="entry-form">
    <div id="insert-form">
      <%= render 'matches/form' %>
    </div>
  </div>
</div>
