<div>
  <%= simple_form_for(@player, :html => {:class => 'form-vertical' }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class="col-md-6">
        <%= f.input :first_name,
              placeholder: "Select first team.",
              label: false
        %>
      </div>

      <div class="col-md-6">
        <%= f.input :last_name,
              placeholder: "Select 2nd team.",
              label: false
        %>
      </div>

      <br/>

    </div>

    <div class="form-actions text-center">
      <%= f.button :submit, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
