<tr>
  <td>
    <%= link_to player.first_name, players_path %>
  </td>

  <td>
    <%= link_to player.last_name, players_path %>
  </td>

  <td>
    <%= link_to player.user.email, user_path(player.user) %>
  </td>

  <td>
    <%= time_ago_in_words(player.created_at) %>
  </td>

  <td>
    <%= time_ago_in_words(player.updated_at) %>
  </td>

  <td class="actions-cell">
    <%= link_to "X",
          player_path(player),
          method: :delete,
          data: {
            confirm: "Are you sure you want to permanently delete this player?"
          },
          class: "btn btn-sm btn-danger" %>
  </td>
</tr>
