
<div class="text-center">
  <%= paginate @players %>
</div>

<div class="well row">
  <div id="entry-form">
    <div id="insert-form">
      <%= render 'form' %>
    </div>
  </div>
</div>

<hr>

<table class="table table-striped">

    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Created By</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th></th>
    </tr>

    <%= render @players %>

</table>

<br>

<div class="text-center">
  <%= paginate @players %>
</div>