<div>
  <%= simple_form_for(@match, :html => {:class => 'form-vertical' }) do |f| %>

    <div class="form-inputs">
      <%= f.input :score,
            placeholder: "Add the score with the format (home_team-away_team ). Ex: 3-4",
            label: false
      %>
    </div>

    <div class="form-actions text-center">
      <%= f.button :submit, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>